
body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.environment{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;;
    background-color: rgba(55,179,241,255);   
    background-image: url("./resources/bacground.jpg");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}



.ground {
    position: fixed;
    bottom: 0px;
    height: 88px;
    width: 100vw;
    background-image: url("./resources/ground.png");
    background-size: cover;
    background-position: center;
}

.player {
    position: fixed;
    z-index: 2;
    /* background-color: yellowgreen;
    border: 1px solid yellowgreen; */
    left: 40px;
    bottom: 80px;
}

.object {
    position: fixed;
    z-index: 2;
    background-color: brown;
    border: 1px solid brown;
    right: 20px;
    bottom: 80px
}
.fast_play1 {
    display: none;
    position: fixed;
    bottom: 155px;
    right: 130px;
}

/* .immunity_pow2, .fast_play2 {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 130px;
} */

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}
.popup{
    position: fixed;
    left: 49px;
    bottom: 200px;
    background-color: yellow;
    color: red;
    border: 2px solid red;
    border-radius: 30%; 
    animation: moveUp 1s;
}

.popup.hidden {
    display: none;
}




@media (min-width: 800px){
    .score {
        font-size: xx-large;
    }

    .player, .object{
        transform: scale(2);
    }

    .fast_play1{
        transform: scale(1.5);
        bottom: 290px;
    }

    .player {
        bottom: 100px;
    }
    .popup {
        bottom: 300px;
        left: 53px;
    }

}