.body {
    position: fixed;
    background-color: rgba(55,179,241,255);   
    background-image: url("./resources/bacground.jpg");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}


section{
    border: 2px solid white;
    width: 50%;
    margin: 0 auto;
    background-color: black;
    color: skyblue;
    /* margin-top: 299px; */

}

section div{
    text-align: center;
}


section div input::placeholder{
    color:brown;
    font-style: italic;
    text-align: center;
}


header h1{
    text-align: center;
    margin-top: 229px;
    font-family: 'Audiowide', cursive;
    font-family: 'Poppins', sans-serif;
}

.button {
    cursor: pointer;
    margin: 3px;
    padding: 3px;
}

.button:hover{
    background-color: blueviolet;
}

section div input{
    margin-top: 2px;
}


@media (min-width: 800px) {
    body {
        background-size: cover;
    }

    section {
        width: 30%;
        font-size: 18px;
    }

    .button {
        cursor: pointer;
        margin: 6px;
        padding: 6px;
    }

    section div input{
        width: 180px;
        margin-top: 6px;
    }




}